.backgr{
  width:110%;
  height: 100%;
  position: absolute;
  top: 48px;
  right: -2px;  
  background-image: linear-gradient(180deg, #005bea, #032f73);
}

h1{
  font-size: 75px;
  font-weight:bolder;
  color: white;
  text-align: center;
  margin-left: 120px;
  margin-top: 0px;
  font-family:Hey Comic ;
}

form{
  position: absolute;
  margin-top: 290px;
  margin-left: 758px;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 450px ;
  border-radius: 10px;
  background-color: #0157e0;
  box-shadow: 0 2px 12px rgba(27, 27, 27, 0.3);
}

.idd input{    
  position: absolute;
  top: 150px;
  left: 350px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 50px; 
  font-size: 30px;
  font-family: sans-serif;
}

.eid::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold;
  position: absolute;
  top: 15px;
  left: 50px;
}

.idd, .empname {
  position: relative;
  z-index: 2;
}

.empname input{    
  position: absolute;
  top:130px;
  right: 350px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 100px; 
  font-size: 30px;
  font-family: sans-serif;
}
.en::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold; 
  position: absolute;
  top: 15px;
  left: 50px;
}

.fDate input{    
  position: absolute;
  top:160px;
  left: 50px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 50px; 
  font-size: 30px;
  font-family: sans-serif;
  color: #336e90 ;
}
.fD::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold;
  position: absolute;
  top: 15px;
  left: 50px;
  
}

.tDate input{    
  position: absolute;
  top:160px;
  right: 45px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 100px; 
  font-size: 30px;
  font-family: sans-serif;
  color: #336e90;
}
.tD::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold; 
  position: absolute;
  top: 15px;
  left: 50px;
}

.reason textarea{    
  position: absolute;
  top:290px;
  left: 50px;
  width: 830px;
  height: 140px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 30px;
  font-family: sans-serif;
  color: #336e90 ;   
  
}
.rs::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold;
  position: absolute;
  top: 15px;
  left: 50px;
  
}

.sub{
  background-image: linear-gradient(90deg, #fdc201, #ff9e06);
  border: 1px solid;
  box-shadow: 5px 10px 5px #18345f;
  color: #033480;
  width: 310px;
  height: 70px;
  margin: 380px 0 0 310px;
  position:absolute;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50px;
  font-family: Liberation Sans ; 
  display: inline-block;
  font-weight: bold;
  text-align: center;
    
}

.sh2{
  position: absolute;
  right: -130px;
  top: -130px;
  width: 400px;
  height: auto;
}

.sh1_r{
  position: absolute;
  right: -130px;
  bottom: -130px;
  width: 400px;
  height: auto;
}

.sh1_l{
  position: absolute;
  left: -130px;
  bottom: -130px;
  width: 400px;
  height: auto;
}

body { 
  overflow: hidden; 
}
