* {
    font-family: Liberation Sans ;
    font-weight: bold;
}
button {
    border-radius: 50px;
    background-image: linear-gradient(90deg, #fdc201, #ff9e06);
    color: #0059e6;
    border: none;
    padding: 8px 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    color: #0059e6;
    text-align: left;
    padding: 8px;
}
td{
    text-align: center;
}
th {
    text-align: center;
    font-family: Hey Comic;
    font-weight: bold;
    background: linear-gradient(to bottom, #0059e6, #03327d);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button a{
    color: white;
    border-radius: 50px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    padding-left: 20px;
    background-image: linear-gradient(90deg, #fdc201, #ff9e06);
}
.button1 a{
    color: #0c3981;
}

.button2 {
    padding-left: 20px;
    background: linear-gradient(to bottom, #0059e6, #03327d);
}

.button2 a{
    font-weight: bold;

}



.search-bar {
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    
}

.search-bar input[type="text"] {
    border: none;
    flex: 1;
    width: 90%;
    border-radius: 50px;
    padding: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
}

.searchButton {
    width: 7%;
    font-size: medium;
    font-weight: bold;
}
.place::placeholder{
    padding-left: 50px;
    
}

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    margin: 0;
}
