.welcome{
    font-family: Hey Comic;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #0059e6, #03327d);
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}


li {
    list-style-type: '- ';
    font-family: Liberation Sans;
}

