.welcome,.nav{
    font-family: Hey Comic;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #03327d, #0059e6);
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}


.nav {
    background-color: rgb(0, 0, 0, 0.4); 
    overflow: hidden;
}


.nav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #67a7ff;
}


.nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


h1, h2 {
    text-align: center;
    margin: 20px 0;
}


li {
    list-style-type: '- ';
    font-family: Liberation Sans;
}

