
div {
    margin-top: 20px;
    text-align: center;
    height: 25%;
    width: 100%;
    
}
div a{
    padding: 14px 16px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

a:hover {
    height: 1em;
    height: fit-content;
    background-color: rgba(35, 0, 235, 0.3);
    border-radius: 10px;
}