.backgr{
  width:100%;
  height: 100%;
  position: absolute;
  top: 48px;
  right: 0;  
  background-image: linear-gradient(180deg, #005bea, #032f73);
}

h1{
  font-size: 75px;
  font-weight:bolder;
  color: white;
  text-align: center;
  margin-top: -5px;
  font-family:Hey Comic ;
}

form{
  position: absolute;
  margin-top: 255px;
  margin-left: 758px;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 450px ;
  border-radius: 10px;
  background-color: #0059e6;
  box-shadow: 0 2px 12px rgba(27, 27, 27, 0.3);
}

.idd input{    
  position: absolute;
  top: 30px;
  left: 150px;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 50px; 
  font-size: 30px;
  font-family: sans-serif;
}

.eid::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold;
  position: absolute;
  top: 15px;
  left: 50px;
}

.idd p{
  position: absolute;
  font-family: sans-serif;
  top: 10px;
  left: 40px;
  font-size: 40px;
  color: white;
}

.empname input{    
  position: absolute;
  top:30px;
  right: 45px;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 100px; 
  font-size: 30px;
  font-family: sans-serif;
}
.en::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold; 
  position: absolute;
  top: 15px;
  left: 50px;
}

.empname p{
  position: absolute;
  font-family: sans-serif;
  top: 10px;
  right: 520px;
  font-size: 40px;
  color: white;
}

.fDate input{    
  position: absolute;
  top:160px;
  left: 150px;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 50px; 
  font-size: 30px;
  font-family: sans-serif;
  color: #336e90 ;
}
.fD::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold;
  position: absolute;
  top: 15px;
  left: 50px;
  
}

.fDate p{
  position: absolute;
  font-family: sans-serif;
  top: 130px;
  left: 40px;
  font-size: 40px;
  color: white;
}

.tDate input{    
  position: absolute;
  top:160px;
  right: 45px;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  border: #ffffff;
  background-color: white;
  padding-left: 100px; 
  font-size: 30px;
  font-family: sans-serif;
  color: #336e90;
}
.tD::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold; 
  position: absolute;
  top: 15px;
  left: 50px;
}

.tDate p{
  position: absolute;
  font-family: sans-serif;
  top: 130px;
  right: 580px;
  font-size: 40px;
  color: white;
}

.reason textarea{    
  position: absolute;
  top:290px;
  left: 200px;
  width: 950px;
  height: 140px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 30px;
  font-family: sans-serif;
  color: #336e90 ;   
  
}
.rs::placeholder{       
  color: #336e90;
  font-size: 28px;
  font-family: sans-serif;
  font-weight:bold;
  position: absolute;
  top: 15px;
  left: 50px;
  
}

.reason p{
  position: absolute;
  font-family: sans-serif;
  top: 240px;
  left: 40px;
  font-size: 40px;
  color: white;
  
}

.sub{
  background-image: linear-gradient(90deg, #fdc201, #ff9e06);
  border: 1px solid;
  box-shadow: 5px 10px 5px #18345f;
  color: #033480;
  width: 300px;
  height: 60px;
  margin: 380px 0 0 480px;
  position:absolute;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50px;
  font-family: Liberation Sans ; 
  display: inline-block;
  font-weight: bold;
  text-align: center;
    
}

.sub:hover{
  width: 350px;
}

.sh2{
  position: absolute;
  right: -130px;
  top: -130px;
  width: 400px;
  height: auto;
}

.sh1_r{
  position: absolute;
  right: -130px;
  bottom: -130px;
  width: 400px;
  height: auto;
}

.sh1_l{
  position: absolute;
  left: -130px;
  bottom: -130px;
  width: 400px;
  height: auto;
}

body { 
  overflow: hidden; 
}
