{% load static %}
<!DOCTYPE html>
<html>
    <div>
        
    </div>
    <head>
        <meta charset="UTF-8"/>
        <title>add employee</title>
        <meta name = "discription" content="adding new employee data"/>
        <link rel = "stylesheet" href="{% static 'style/page.css' %}">
        <link rel="stylesheet" 
        href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" href="{% static 'style/navStyle.css' %}">
        
    </head>
    <body>
        {% include 'partials/_header2.html' %}
        <form  method = 'POST' action="{% url 'add_employee2' %}">
            {% csrf_token %}
            <div>
                <h1>welcome !</h1>
            </div>
            
            <div class ="f"></div>
            <div class="a">
                <i class="fa fa-user icon" style="font-size: 1.5em;"></i>
                <input type="text" id="firstname" class="x" placeholder="First name" name = "firstname"  required/>
        
            </div>
            <div class="b">
                <i class="fa fa-user icon" style="font-size: 1.5em;"></i>
                <input type="text" id="lastname" class="x1" placeholder="Last name" name = "lastname"  required/>
        
            </div>
            <div class="c">
                <i class="fa fa-envelope" style="font-size: 1.5em;"></i>
                <input type="email" class="x2" id="email" placeholder="Your e-mail" name = "email"   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
        
            </div>
            <div class="d">
                <i class="fa fa-lock" style="font-size: 1.5em;"></i>
                <input type="number" class="x3" id="userid" placeholder="User id" name = "userid"  min = "1" max = "2000" required/>
        
            </div>
            <div class="e">
                <i class="fa fa-map-marker" style="font-size: 1.5em;"></i>
                <input type="text" class="x4" id="address" placeholder="address" name = "address"   minlength = "10" maxlength = "50" required/>
            </div>
            <button type="submit" onclick="JS()" id="insert" class="button">Continue</button>
        </form>
        <img src="{% static 'shapes/shape1.png' %}" class="i" alt="shape" >
        <img src="{% static 'shapes/shape1.png' %}" class="i1" alt="shape">
        <img src="{% static 'shapes/shape2.png' %}" class="i2" alt="shape">
        <img src="{% static 'shapes/shape3.png' %}" class="i3" alt="shape">
        <script src="{% static 'js/data.js' %}"></script>
    </body>
</html>