{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>add employee</title>
        <meta name = "discription" content="adding new employee data"/>
        <link rel = "stylesheet" href="{% static 'style/page2.css' %}">
        <link rel="stylesheet" 
        href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" href="{% static 'style/navStyle.css' %}">
        
    </head>
    <body>
        {% include 'partials/_header2.html' %}
        <div>
            <h1>Add employee !</h1>
        </div>
        
        <div class ="f"></div>
        <form action="{% url 'search' %}">
            <div class = "k">
                <div class="a">
                    <i class="fa fa-user icon" style="font-size: 1.5em;"></i>
                    {{form.matrial_status}}
            
                </div>
                <div class="b">
                    <i class="fa fa-user icon" style="font-size: 1.5em;"></i>
                    {{form.gender}}
                </div>
                <div class="c">
                    <i class="fa fa-phone"style="font-size: 1.5em;"></i>
                    {{form.phone_number}}
                </div>
                <div class="d">
                    <i class="fa fa-calendar" style="font-size: 1.5em;"></i>
                    <input type="number" id="vacationNum" class="x3" placeholder="Vacation days number" min = "1" max="10" required/>
            
                </div>
                <div class="e">
                    <i class="fa fa-calendar" style="font-size: 1.5em;"></i>
                    <input type="number" id="ApprovedVactions" class="x4" placeholder="Approved vacation days" min = "0" required/>
                </div>
                <div class="g">
                    <i class="fa fa-calendar" style="font-size: 1.5em;"></i>
                    <input type="Date" id="date" class="x5" placeholder="Date Of Birth"  min="1990-01-01" max="2005-12-31" required/>
                </div>
                <div class="h">
                    <i class="fa fa-dollar" style="font-size: 1.5em;"></i>
                    <input type="number" id="salary" class="x6  " placeholder="Salary" min = "2000" max= "6000" required/>
                </div>
            </div>
            <button type="submit" onclick="JS2()" class="button">Creat account</button>
        </form>
        <img src="{% static 'shapes/shape1.png' %}" class="i" alt="shape" >
        <img src="{% static 'shapes/shape1.png' %}" class="i1" alt="shape">
        <img src="{% static 'shapes/shape3.png' %}" class="i3" alt="shape">
        <script src="{% static 'js/data.js' %}"></script>
    </body>
</html>