{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <script src="{% static 'js/search.js' %}" defer> </script>
        <link rel="stylesheet" href="{% static 'style/navStyle.css' %}">
        <link rel="stylesheet" href="{% static 'style/searchStyle.css' %}">
    </head>
    <body>
        {% include 'partials/_header.html' %}
        <div class="search-bar">
            <form  method="get">
                <input type= "text" class="place" name="q" placeholder="Employee Name"/>
            </form>
        </div>
        <table style="border: 1px;">
            <tr>
                <th> Name </th>
                <th> Submit Vacation </th>
                <th> Edit Data </th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.first_name }} {{employee.last_name}}</td>
                <td> 
                    <button class="button1" ><a href="{% url 'submit_vacation' pk=employee.emp_id %}"> Submit Vacation </a></button>
                </td>
                <td>
                    <button class="button2" ><a href="{% url 'edit' pk=employee.emp_id %}"> Edit data </a></button> 
                </td>
            </tr>
            {% endfor %}
        </table>
        
        
    </body>
    <img src="{% static 'shapes/shape wave.png' %}" class="i" alt="shape" >
</html>