{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <script src="{% static 'js/search.js' %}" defer> </script>
        <link rel="stylesheet" href="{% static 'style/navStyle.css' %}">
        <link rel="stylesheet" href="{% static 'style/searchStyle.css' %}">
    </head>
    <body>
        {% include 'partials/_header.html' %}
        <div class="search-bar">
			<input type= "text" class="place" placeholder="Employee Name" searchInput>
        </div>
        <table style="border: 1px;" table>
            <tr>
                <th> Name </th>
                <th> Submit Vacation </th>
                <th> Edit Data </th>
            </tr>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.firstname }} {{employee.lastname}}</td>
                    <td> 
                        <button class="button1" ><a href="{% url 'form' pk=employee.userid %}"> Submit Vacation </a></button>
                    </td>
                    <td>
                        <button class="button2" ><a href="{% url 'edit' pk=employee.userid %}"> Edit data </a></button> 
                    </td>
                </tr>
            {% endfor %}
        </table>
        
    </body>
    <img src="{% static 'shapes/shape wave.png' %}" class="i" alt="shape" >
</html>