{% load static %}
{% if messages %}
    {% for message in messages %}
        <script>
            alert('{{ message }}');
        </script>
    {% endfor %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title> Submitted Vacation </title>
        <link rel = "stylesheet" href="{% static 'style/vacation_requestsStyle.css' %}">
        <link rel="stylesheet" href="{% static 'style/navStyle.css' %}">
        
    </head>
    
    <body>
        {% include 'partials/_header.html' %}
        <h1> Submitted Vacation</h1>
        <table >
            <thead>
                <tr>
                    <th> Emploee ID </th>
                    <th> Name </th>
                    <th> From Date </th>
                    <th> To Date </th>
                    <th> Reason </th>
                    <th> Status </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody id = "vacations-table"> 
                {%  for vacation in vacations %}
                    <tr>
                        <td>{{ vacation.employee.userid }}</td>
                        <td>{{ vacation.employee.firstname }} {{ vacation.employee.lastname }}</td>
                        <td>{{ vacation.from_date }}</td>
                        <td>{{ vacation.to_date }}</td>
                        <td>{{ vacation.Reason }}</td>
                        <td>{{ vacation.status }}</td>
                        <td> 
                            <button class="button1"><a href="{% url 'approve_vacation' pk=vacation.id %}" style="text-decoration: none ;">Approve</a></button>
                            <button class="button2"> <a href= "{% url 'reject_vacation' pk=vacation.id %}" style="text-decoration: none ;"> Reject</a></button> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'shapes/shape wave.png' %}" class="i" alt="shape" >
    </body>
</html>
