{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <!-- <nav >
      <div class="nav" style="background-color:#005bea; height: 90px;; margin-left:-10px; margin-top: -9px; margin-right: -10px; ">
        
        <a href="home.html" style="color: white;">
          Home Page
        </a>
        <a href="add1.html" style="color: white;">
          Add Employee
        </a>
        <a href="search.html" style="color: white;">
          Search For Employee
        </a>
        <a href="vacation_requsets.html" style="color: white;">
          Submitted Vacations
        </a>
      </div>
    </nav> -->
 
  <link rel =" stylesheet" href="{% static 'style/vacation_form.css' %}">
  <link rel =" stylesheet" href="{% static 'style/navStyle.css' %}">
  <title> Vacation Form </title>
</head>
  <body>
    {% include 'partials/_header.html' %}
    <div class="backgr"> <h1> Vacation Form </h1> </div>
   
    <form onsubmit=s() action="{% url 'search' %}">
      
        <div class="idd">
          
          <input type="text" id="emp-ID"class ="eid" required name="id" disabled placeholder="ID" >
        </div>
    
      <br>
    
        <div class="empname">
          
          <input type="text" class ="en" id ="emp-Name"required name="Employee name" disabled  placeholder="Name">
        </div>
          
      <br>
    
        <div class="fDate">
        
          <input type="text" id="from-Date" class="fD" onfocus="(this.type = 'date')" required name="from date" min="2023-04-17" max="2023-12-12" placeholder="From Date">
        </div>
    
      <br>
    
        <div class="tDate">
          
          <input type="text" id="to-Date" class="tD" onfocus="(this.type = 'date')" required name="to date" min="2023-04-17" max="2023-12-12" placeholder="To Date">    
        </div>
      
        <div class="reason">
        
          
        <textarea name="subject" id="Reason" class="rs" cols="30" rows="5" required placeholder="Enter The Reason"></textarea>
        </div>
    
      <br>  <br>
      
      <input type="submit" value="Submit" class="sub" >
    
    </form>
        
    <img src="{% static 'shapes/shape2.png' %}" class="sh2" alt="shape">
    <img src="{% static 'shapes/shape1_right.png' %}" class="sh1_r" alt="shape">
    <img src="{% static 'shapes/shape1_left.png' %}" class="sh1_l" alt="shape">
  
    <script src="{% static 'js/vac_form.js' %}"> </script>
  </body>
  
</html>
